/* ===== TV Styles ===== */
:root {
  --tv-scale: 2;
}

.tv_glow {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 450px;
  height: 300px;
  background: rgba(16, 185, 129, 0.12);
  filter: blur(48px);
  border-radius: 9999px;
  z-index: 0;
}

.main_wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 30em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

.antenna {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #f27405;
  margin-bottom: -6em;
  z-index: -1;
  position: relative;
}

.antenna_shadow {
  position: absolute;
  background-color: transparent;
  width: 50px;
  height: 56px;
  margin-left: 1.68em;
  border-radius: 45%;
  transform: rotate(140deg);
  border: 4px solid transparent;
  box-shadow: inset 0px 16px #a85103, inset 0px 16px 1px 1px #a85103;
}

.antenna::after {
  content: "";
  position: absolute;
  margin-top: -9.4em;
  margin-left: 0.4em;
  transform: rotate(-25deg);
  width: 1em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f69e50;
}

.antenna::before {
  content: "";
  position: absolute;
  margin-top: 0.2em;
  margin-left: 1.25em;
  transform: rotate(-20deg);
  width: 1.5em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #f69e50;
}

.a1 {
  position: relative;
  top: -102%;
  left: -130%;
  width: 12em;
  height: 5.5em;
  border-radius: 50px;
  background-image: linear-gradient(#171717, #171717, #353535, #353535, #171717);
  transform: rotate(-29deg);
  clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
}

.a1d {
  position: relative;
  top: -211%;
  left: -35%;
  transform: rotate(45deg);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #979797;
  z-index: 99;
}

.a2 {
  position: relative;
  top: -210%;
  left: -10%;
  width: 12em;
  height: 4em;
  border-radius: 50px;
  background-image: linear-gradient(#171717, #171717, #353535, #353535, #171717);
  margin-right: 5em;
  clip-path: polygon(47% 0, 34% 34%, 54% 25%, 32% 100%, 29% 96%, 49% 32%, 30% 38%);
  transform: rotate(-8deg);
}

.a2d {
  position: relative;
  top: -294%;
  left: 94%;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #979797;
  z-index: 99;
}

.tv {
  width: 17em;
  height: 9em;
  margin-top: 3em;
  border-radius: 15px;
  background-color: #d36604;
  display: flex;
  justify-content: center;
  border: 2px solid #1d0e01;
  box-shadow: inset 0.2em 0.2em #e69635;
  position: relative;
}

.tv::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background:
    repeating-radial-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 60% 60%/2500px 2500px;
  background-blend-mode: difference;
  opacity: 0.09;
  pointer-events: none;
}

.curve_svg {
  position: absolute;
  margin-top: 0.25em;
  margin-left: -0.25em;
  height: 12px;
  width: 12px;
}

.display_div {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 3.5px 3.5px 0px #e69635;
  position: relative;
  z-index: 1;
}

.screen_out1 {
  width: 11em;
  height: 7.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.screen {
  width: 13em;
  height: 7.85em;
  border: 2px solid #1d0e01;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.tv_img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

.screen::after {
  content: "";
  position: absolute;
  inset: -20%;
  pointer-events: none;
  z-index: 5;
  background:
    repeating-radial-gradient(
      circle at 30% 20%,
      rgba(255, 255, 255, 0.18) 0 0.6px,
      rgba(0, 0, 0, 0.16) 0.6px 1.2px
    ),
    repeating-conic-gradient(
      from 0deg,
      rgba(255, 255, 255, 0.12) 0 0.6deg,
      rgba(0, 0, 0, 0.12) 0.6deg 1.2deg
    );
  background-size: 90px 90px, 140px 140px;
  background-position: 0 0, 40px 60px;
  opacity: 0.65;
  mix-blend-mode: overlay;
  animation: tvNoiseShift 0.14s infinite steps(2, end);
  filter: contrast(125%) brightness(105%);
}

@keyframes tvNoiseShift {
  0%   { transform: translate(0, 0) rotate(0deg); }
  25%  { transform: translate(-1.5px, 1px) rotate(0.05deg); }
  50%  { transform: translate(1px, -1.5px) rotate(-0.05deg); }
  75%  { transform: translate(-1px, -1px) rotate(0.03deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.screen::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 4;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,0,0,0.12) 0px,
    rgba(0,0,0,0.12) 1px,
    rgba(0,0,0,0.00) 3px
  );
  opacity: 0.35;
  mix-blend-mode: multiply;
}

.lines {
  display: flex;
  column-gap: 0.1em;
  align-self: flex-end;
  position: relative;
  z-index: 1;
}

.line1, .line3 {
  width: 2px;
  height: 0.5em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
  margin-top: 0.5em;
}

.line2 {
  width: 2px;
  height: 1em;
  background-color: black;
  border-radius: 25px 25px 0px 0px;
}

.buttons_div {
  width: 4.25em;
  align-self: center;
  height: 8em;
  background-color: #e69635;
  border: 2px solid #1d0e01;
  padding: 0.6em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.75em;
  box-shadow: 3px 3px 0px #e69635;
  position: relative;
  z-index: 1;
  margin-left: 0.6em;
}

.b1, .b2 {
  width: 1.65em;
  height: 1.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 2px 2px 1px #b49577, -2px 0px #513721, -2px 0px 0px 1px black;
  position: relative;
}

.b1 div {
  position: absolute;
  top: 0.05em;
  left: 0.72em;
  transform: rotate(45deg);
  width: 0.15em;
  height: 1.5em;
  background-color: #000;
}

.speakers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.speakers .g1 {
  display: flex;
  column-gap: 0.25em;
}

.g11, .g12, .g13 {
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  background-color: #7f5934;
  border: 2px solid black;
  box-shadow: inset 1.25px 1.25px 1px #b49577;
}

.speakers .g {
  height: 2px;
  background-color: #171717;
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8.7em;
  position: relative;
}

.base1, .base2 {
  height: 1em;
  width: 2em;
  border: 2px solid #171717;
  background-color: #4d4d4d;
  margin-top: -0.15em;
  z-index: -1;
}

.base3 {
  position: absolute;
  height: 0.15em;
  width: 17.5em;
  background-color: #171717;
  margin-top: 0.8em;
}
